#temp{
  font-size:500px;
  text-align:center;
}
#status{
  font-size:100px;
}
#battery{
  font-size:100px;
}
.status-clear{
  color:#3CD633 !important;
}
.status-detected{
  color:#E02609 !important;
}
.status-unknown{
  color:#E8E409;
}
#updated{
  position:absolute;
  bottom:0;
}
