
#temperature{
  padding-left:35px;
}

#motion{
  position:absolute;
  top:470px;
  padding-left:35px;
}

#temperature-table-container{
  top:55px;
  width:98%;
  padding-left:35px;
  height:45% !important;
  overflow:auto;
  position:absolute;
  margin-bottom:30px;

}
#motion-table-container{
  width:98%;
  padding-left:35px;
  position:absolute;
  height:43% !important;
  top:525px;
  overflow:auto;
}
